body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
    transition: background-color 0.5s ease;
}

canvas {
    border: 5px solid #333;
    background: radial-gradient(circle, #ffffff, #e1e1e1);
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

canvas:hover {
    transform: scale(1.05);
}

#digital-time {
    font-size: 28px;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.toggle-button,
.color-toggle-button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover,
.color-toggle-button:hover {
    background-color: #555;
    color: white;
    transform: scale(1.05);
}

.color-toggle-button {
    margin-top: 10px;
    background-color: #3498db;
    color: white;
}

.color-toggle-button:active {
    background-color: #2980b9;
}

.toggle-button {
    background-color: #f39c12;
}

.toggle-button:active {
    background-color: #e67e22;
}